body {
  background: #F8F8F8;
}

.page-content a {
  color: #00C718;
}
.page-content a:hover {
  text-decoration: underline;
}
.green { 
  color: #00c718;
}
.thin {
  font-weight: 300;
}

.navbar.transparent {
  background-color: transparent;
}

.level.pageNavBar {
  padding-top: 0.5em;
  padding-bottom: 0.1em;
  min-height: 3em;
}

#subbar {
  border-bottom: 2px solid silver;
}

#navbar {
  padding: 0.7rem 0;
  border-bottom: 2px solid #00C718;
  background-color: white;
}

a.navbar-item:hover, a:hover {
  color: black !important;
}

#navbar .navbar-start .navbar-item {
  font-size: 1.1rem;
}

#navbar .navbar-item.current {
  font-weight: bold;
}

#logo-text { 
  padding-left: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}

#logo {
  width: 32px;
  height: 32px;
  background-image: url(./opencrypto.svg);
}

#subbar .navbar-item.selected {
  font-weight: bold;
}

#page {
  padding-top: 1em;
}

.custom-box {
  background-color: #FFFFFF;
  box-shadow: 0 0 3px 0 rgba(33,27,27,0.2);
 	border-radius: 4px;
  padding: 1em;
  margin-bottom: 1em;
}

.props {
  margin-top: 1.5em;
}

.example {
  margin-top: 1em;
  background-color: #F8F8F8;
  box-shadow: 0 1px 3px 0 rgba(33,27,27,0.2);
  border-radius: 4px;
  padding: 1em;
}

h2.my-title { font-size: 2em; font-weight: bold; margin-bottom: 0.1em; padding-bottom: 0; }

.path {
  margin-bottom: 1.5em;
  color: #999999;
}
.path a {
  color: #999999;
}
.path a:hover {
  text-decoration: underline;
}

#homepage {
  margin-top: 1em;
}

#homepage .oc-box {
  color: #808080;
}

.oc-box {
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 1px 6px 0 rgba(33,27,27,0.2);
  margin-right: 3em;
  margin-bottom: 1em;
  padding: 1.5em;
}

ul.schema-structure li {
  list-style: none;
}

ul.schema-structure.main {
  margin-left: 0;
}

#changelog {
  margin-top: 1em;
}

a.silent {
  color: black;
}
a.silent:hover {
  text-decoration: underline;
}

#search .sf {
  background-color: yellow;
}
